* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
}
.containar{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;  
}
.containar::before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, rgb(236, 184, 234), rgb(156, 83, 156));
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}
.form-containar{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}
.signin-signup{
    position: absolute;
    width: 50%;
    top:50%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;

}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 5rem;
    overflow: hidden;
    transition: 0.2s 0.7s ease-in-out;

}
form.sign-in{
    z-index: 2;
}
form.sign-up{
    z-index: 1;
    opacity: 0;
}
.title{
    font-size: 2.2rem;
    margin-bottom: 14px;
    color: rgb(206, 37, 228);
}
.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
}
.input-field i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}
.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}
.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}
.btn{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(206, 37, 228);
    color: #fff;
    font-weight: 600;
    margin: 10px  0;
    transition: 0.4s;
}
.btn:hover{
    color: rgb(206, 37, 228);
    background-color: #fff;
    border: 2px solid rgb(206, 37, 228);
}
.social-text{
    padding: .7rem 0;
    font-size: 1rem;
}
.soical-media{
    display: flex;
    justify-content: center;
}
.social-icon{
    height: 50px;
    width: 50px;
    border: 1px solid rgb(206, 37, 228);
    margin: 0 0.45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(206, 37, 228);
    font-size: 1.1rem;
    border-radius: 50%;
    transition: 0.4s;
}
.social-icon:hover{
    color: #fff;
    text-decoration: none;
    background-color: rgb(206, 37, 228);
}
.panels-containar{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}
.left-panel{
    padding: 3rem 17% 2rem 12%;
    pointer-events: all;
}
.rigth-panel{
    padding: 3rem 12% 2rem 17%;
    pointer-events: none;
}
.panel .content{
    color: #fff;
    transition: 0.9s 0.5s ease-in-out;
}
.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}
.panel p{
    font-size: 0.95rem;
    padding: 0.7rem 0;
}
.btn .transpatent{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 50px;
    font-weight: 600;
    font-size: 0.8rem;
}
.rigth-panel .content, .rigth-panel .images{
    transform: translateX(800px);
}

.images{
    width: 500px;
    transition: 1.1s 0.4s ease-in-out;
}
.containar.sign-up-mode:before{
    transform: translate(100%, -50%);
    right: 52%;
}
.containar.sign-up-mode .left-panel .images,
.containar.sign-up-mode .left-panel .content{
    transform: translateX(-800px);
}
.containar.sign-up-mode .rigth-panel .content,
.containar.sign-up-mode .rigth-panel .images{
    transform: translateX(0px);
}
.containar.sign-up-mode .left-panel{
    pointer-events: none;
}
.containar.sign-up-mode .rigth-panel{
    pointer-events: all;
}
.containar.sign-up-mode .signin-signup{
    left: 25%;
}
.containar.sign-up-mode form.sign-in{
    z-index: 1;
    opacity: 0;
}
.containar.sign-up-mode form.sign-up{
    z-index: 2;
    opacity: 1;
}

@media (max-width: 870px){
    .containar{
        min-height: 800px;
        height: 100vh;
    }
    .containar::before{
       width: 1500px;
       height: 1500px;
       left: 30%;
       bottom: 63%;
       transform: translateX(-50%);
       right: initial;
       top: initial;
       transition: 2s ease-in-out;
    }
    .signin-signup{
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }
    .panels-containar{
        z-index: 10;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    .panel .content{
        padding-right: 15%;
        transition: 0.9s 0.8s ease-in-out;
    }
    .panel h3{
        font-size: 1.2rem;
    }
    .panel p{
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }
    .btn .transpatent{
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }
    .left-panel{
        grid-row: 1 / 2;
    }
    .rigth-panel{
        grid-row: 3 / 4;
    }
    .panel{
        padding: 2.5rem 8%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .images{
        width: 200px;
        transition: 0.9s 0.6s ease-in-out;
    }
    .rigth-panel .content, .rigth-panel .images{
        transform: translateY(300px);
    }
    .containar.sign-up-mode:before{
        transform: translate(-50%, 100%);
        bottom: 35%;
        right: initial;
    }
    .containar.sign-up-mode .left-panel .images,
    .containar.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
    }
    .containar.sign-up-mode .signin-signup{
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 570px){
    form{
        padding: 0 1.5rem;
    }
    .images{
        display: none;
    }
    .panel .content{
        padding: 0.5rme 1rme;
    }
    .containar::before{
        bottom: 72%;
        left: 50%;
    }
    .containar.sign-up-mode:before{
        bottom: 28%;
        left: 50%;
    }
}